.buttonss {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  margin-right: 10px;
}
