.elem {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  font-size: 30px;
  word-wrap: break-word;
  align-items: center;
}
.btnAddDel {
  display: flex;
}

@media (max-width: 1200px) {
}
@media (max-width: 768px) {
  .btnAddDel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btnAddDel button {
    margin-bottom: 5px;
  }
  .elem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 320px) {
}
